.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-left: 10px;
}
.old-color{
  margin-right: 15px;
}
.old-color-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  min-width: 200px;
  margin-bottom: 5px;
}
.new-color-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  min-width: 200px;
  margin-bottom: 5px;
}
.line{
  width: 2px;
  height: 3000px;
  background-color: gray;
  margin-right: 100px;
  margin-left: 100px;
}
.submit{
  position: fixed;
  top: 5%;
  right: 5%;
}
.submit>button{
  width: 80px;
  height: 40px;
  font-size: 16px;
  background-color: #4CAF50;  
  color: white;
  font-weight: bold;
  border: none;
}